<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CODEPUSH_KEY</key>
	<string>${CODEPUSH_KEY}</string>
	<key>CodePushDeploymentKey</key>
	<string>${CODEPUSH_KEY}</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>INSIDER_PARTNER</key>
	<string>${INSIDER_PARTNER}</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>GAID</key>
	<string>${GA_ID}</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Giúp tìm kiếm các giảm giá quanh bạn.</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Giúp tìm kiếm các giảm giá quanh bạn.</string>
	<key>NSMotionUsageDescription</key>
	<string>Giúp tìm kiếm các giảm giá quanh bạn và có một trải nghiệm tốt hơn.</string>
	<key>GGMAPKEY</key>
	<string>${GG_MAP_KEY}</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>3.0.27</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Giúp tìm kiếm các giảm giá quanh bạn.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>OneSignal_app_groups_key</key>
	<string>group.vn.jamja.ios.JAMJA.onesignal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Feather.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>fontello.ttf</string>
		<string>JAMJA-icons.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>SFUEurostile-Bold.ttf</string>
		<string>SFUEurostileBoldCondensed.ttf</string>
		<string>SFUEurostileBoldExtendedTwo_.ttf</string>
		<string>SFUEurostileBoldOblique.ttf</string>
		<string>SFUEurostileCondensed.ttf</string>
		<string>SFUEurostileDemi.ttf</string>
		<string>SFUEurostileDemiOblique.ttf</string>
		<string>SFUEurostileExtendedTwo.ttf</string>
		<string>SFUEurostileOblique.ttf</string>
		<string>SFUEurostileRegular.ttf</string>
	</array>
	<key>CFBundleVersion</key>
	<string>72</string>
	<key>FacebookAppID</key>
	<string>${ENV_CONFIG_FB_ID}</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>f87503d70a7c107946d240fa89a656747e6398fd</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitName</key>
				<string>Crashlytics</string>
				<key>KitInfo</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>FacebookDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)$(BUNDLE_ID_SUFFIX)</string>
	<key>FCM_SENDER_ID</key>
	<string>${FCM_SENDER_ID}</string>
	<key>AppBuildType</key>
	<string>${ENV_CONFIG_BUILD_TYPE}</string>
	<key>NSLocationUsageDescription</key>
	<string>Giúp tìm kiếm các giảm giá quanh bạn.</string>
	<key>ONESIGNAL_KEY</key>
	<string>${ONESIGNAL_KEY}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jamjalinks</string>
				<string>fb437382966424613</string>
				<string>prefs</string>
				<string>App-Prefs</string>
				<string>com.googleusercontent.apps.1095577327775-hhh59mcqjhbqvmoomocqpk2e77fqeljp</string>
				<string>com.googleusercontent.apps.416976341183-087o0r1r9k688oa9uib0ifmmladofpj6</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
